[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction | Infirmiers de rue ASBL
Type=Link
URL=http://www.infirmiersderue.org/
Icon=text-html
Name[en_US]=www.Infirmiersderue.html
